<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat-Bot Nutricionista</title>
    <link rel="stylesheet" href="../../assets/css/api-chat-style.css">
  </head>
  <body>
    <div id="chatContainer">
      <h2>Asistente Nutricional IA</h2>

      <div id="response"></div>

      <div id="inputArea">
        <textarea
          id="inputText"
          placeholder="Escribe una comida o alimento..."
        ></textarea>
        <div id="backButtonContainer">
          <a href="/" id="backButton">← Volver al inicio</a>
        </div>
        <button id="sendButton">Enviar</button>
      </div>
    </div>

    <script src="../../assets/javascript/chat-bot.js">
    </script>
  </body>
</html>
