<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chat-Bot Nutricionista</title>
        <link rel="stylesheet" href="../../assets/css/api-chat-style.css" />
    </head>

    <body>
        <div id="container">
            <h2>Consulta Nutricional con IA</h2>
            <textarea id="inputText" placeholder="Escribe cualquier comida y/o alimento que quieras conocer detalles."></textarea>
            <div id="buttonRow">
                <button id="sendButton">Enviar</button>
                <a href="/" id="backButton"><button>Volver al inicio</button></a>
            </div>
            <pre id="response"></pre>
        </div>
        <script src="../../assets/javascript/chat-bot.js"></script>
    </body>
</html>